body {
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

textarea {
	position: relative;
	font-family: Arial, sans-serif;
	font-size: 12px;
	display: block;

	width: 800px;
	height: 450px;
	color: #222;
}

.top_link {
	color:gray;
	text-decoration:none;
}
.top_link:visited {
	color:gray;
	text-decoration:none;
}
.top_link:hover {
	border-bottom: 1px solid gray;
}

#top_bar {
	color:gray;
}

.user {
	float:right;
	margin-left:20px;
}

.history {
	float:right;
	margin-left:20px;
}

.main_title {
    display: block;
    color: #333;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
	margin-top:30px;
    text-decoration: none;
}

.error {
	color:red;
}
